#local tf files have the installed providers
terraform/.terraform/*

.history/*

#tf state files
terraform/*.tfstate
terraform/*.tfstate.*

#tf variables files
*.tfvars

terraform/.terraform.lock.hcl

terraform/kubeconfig*

alert-manager/email-secret.yaml

nodejs-app/.idea
nodejs-app/node_modules
nodejs-app/*.DS_Store
nodejs-app/*tgz

